<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur quis consequuntur, repellendus unde est quod ab praesentium itaque ratione totam! Deleniti, voluptates facere pariatur alias laborum porro deserunt aliquam et.</p>
    </div>
</div>