<div class="jumbotron-mt-4">
    <h1 class="display-4">notes app nodejs and mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius qui ab, esse dolore quia, debitis quam nemo unde reprehenderit itaque at eveniet, fuga sed nam excepturi porro quisquam ullam quos!</p>
    <a href="https://www.google.com/" class="btn btn-primary btn-lg">Google</a>
</div>